<div class="loader-active"> 
    <!--== Preloader Area Start ==-->
    <div class="preloader">
      <div class="preloader-spinner">
          <div class="loader-content">
              <img src="assets/img/preloader.gif" alt="JSOFT">
          </div>
      </div>
  </div>
  <!--== Preloader Area End ==-->

  <!--== Header Area Start ==-->
  <header id="header-area" class="fixed-top">
   
      <!--== Header Bottom Start ==-->
      <div id="header-bottom">
          <div class="container">
              <div class="row">
                  <!--== Logo Start ==-->
                  <div class="col-lg-4">
                      <a href="index.html" class="logo">
                          <img src="assets/img/lo.png" alt="JSOFT">
                      </a>
                  </div>
                  <!--== Logo End ==-->

                  <!--== Main Menu Start ==-->
                  <div class="col-lg-8 d-none d-xl-block">
                    
                  </div>
                  <!--== Main Menu End ==-->
              </div>
          </div>
      </div>
      <!--== Header Bottom End ==-->
  
  </header>
  <!--== Header Area End ==-->

  <!--== Slider Area Start ==-->
  <section id="slider-area">
      <!--== slide Item One ==-->
      <div class="single-slide-item overlay">
          <div class="container">
              <div class="row">
                  
                  <div class="col-lg-12 text-center">
                      <div class="display-table">
                          <div class="display-table-cell">
                              <div class="slider-right-text">
                                  <h1>Great design is eliminating all unnecessary detail</h1>
                                  
        
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--== slide Item One ==-->
  </section>
  <!--== Slider Area End ==-->

  <!--== Choose Car Area Start ==-->
  <section id="choose-car" class="">
      <div class="container">
  

          <div class="row">
              <!-- Choose Area Content Start -->
              <div class="col-lg-12">
                  <div class="choose-content-wrap">
                     

                      <!-- Choose Area Tab content -->
                      <div class="tab-content" id="myTabContent">
                          <!-- Popular Cars Tab Start -->
                          <div class="tab-pane fade show active" id="popular_cars" role="tabpanel" aria-labelledby="home-tab">
                              <!-- Popular Cars Content Wrapper Start -->
                              <div class="popular-cars-wrap">
                                  <!-- Filtering Menu -->
                                  <div class="popucar-menu text-center">
                                      <a href="#" data-filter="*" class="active">Most Popular</a>
                                      <a href="#" data-filter=".con">Lowest Price</a>
                                      <a href="#" data-filter=".hat">Highest Price</a>
                                      
                                  </div>

                                  <!-- Filtering Menu -->

                                  <!-- PopularCars Tab Content Start -->
                                  <div class="row popular-car-gird">
                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 con suv mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="#">
                                                    <img src="assets/images/1.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 hat sedan">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-2.jpg">
                                                    <img src="assets/images/2.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                     
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                 
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 suv con mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/images/3.png">
                                                    <img src="assets/images/10.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                 
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 con hat">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-4.jpg">
                                                    <img src="assets/images/4.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 con sedan mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-5.jpg">
                                                    <img src="assets/images/5.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 hat suv mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-6.jpg">
                                                    <img src="assets/images/6.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->
                           <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 con suv mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="#">
                                                    <img src="assets/images/11.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                              
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 hat sedan">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-2.jpg">
                                                    <img src="assets/images/12.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                  
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 suv con mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/images/3.png">
                                                    <img src="assets/images/13.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 con hat">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-4.jpg">
                                                    <img src="assets/images/14.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                     
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                 
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 con sedan mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-5.jpg">
                                                    <img src="assets/images/15.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                 
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->

                                      <!-- Single Popular Car Start -->
                                      <div class="col-lg-3 col-md-6 hat suv mpv">
                                          <div class="single-popular-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-6.jpg">
                                                    <img src="assets/images/16.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Dodge Ram 1500</a>
                                                      
                                                  </h3>

                                                  <h5>HATCHBACK</h5>

                                                 
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Popular Car End -->
                                  </div>
                                  <!-- PopularCars Tab Content End -->
                              </div>
                              <!-- Popular Cars Content Wrapper End -->
                          </div>
                          <!-- Popular Cars Tab End -->

                          <!-- Newest Cars Tab Start -->
                          <div class="tab-pane fade" id="newest_cars" role="tabpanel" aria-labelledby="profile-tab">
                              <!-- Newest Cars Content Wrapper Start -->
                              <div class="popular-cars-wrap">
                                  <!-- Filtering Menu -->
                                  <div class="newcar-menu text-center">
                                      <a href="#" data-filter="*" class="active">all</a>
                                      <a href="#" data-filter=".toyota">toyota</a>
                                      <a href="#" data-filter=".bmw">bmw</a>
                                      <a href="#" data-filter=".audi">audi</a>
                                      <a href="#" data-filter=".tata">Tata</a>
                                  </div>

                                  <!-- Filtering Menu -->

                                  <!-- NewestCars Tab Content Start -->
                                  <div class="row newest-car-gird">
                                      <!-- Single Newest Car Start -->
                                      <div class="col-lg-4 col-md-6 tata audi">
                                          <div class="single-new-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-6.jpg">
                                                    <img src="assets/images/7.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Toyota RAV4 EV</a>
                                                  
                                                  </h3>

                                                  <h5>Toyota</h5>

                                                  
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Newest Car End -->

                                      <!-- Single Newest Car Start -->
                                      <div class="col-lg-4 col-md-6 bmw tata toyota">
                                          <div class="single-new-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-5.jpg">
                                                    <img src="assets/images/8.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Toyota RAV4 EV</a>
                                                    
                                                  </h3>

                                                  <h5>Toyota</h5>

                                                  
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Newest Car End -->

                                      <!-- Single Newest Car Start -->
                                      <div class="col-lg-4 col-md-6 bmw">
                                          <div class="single-new-car">
                                              <div class="p-car-thumbnails">
                                                  <a class="car-hover" href="assets/img/car/car-4.jpg">
                                                    <img src="assets/images/9.png" alt="JSOFT">
                                                 </a>
                                              </div>

                                              <div class="p-car-content">
                                                  <h3>
                                                      <a href="#">Toyota RAV4 EV</a>
                                                      
                                                  </h3>

                                                  <h5>Toyota</h5>

                                                 
                                              </div>
                                          </div>
                                      </div>
                                      <!-- Single Newest Car End -->
                                  </div>
                                  <!-- NewestCars Tab Content End -->
                              </div>
                              <!-- Newest Cars Content Wrapper End -->
                          </div>
                          <!-- Newest Cars Tab End -->

                          <!-- Office Map Tab -->
                          <div class="tab-pane fade" id="office_map" role="tabpanel" aria-labelledby="contact-tab">
                              <div class="map-area">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.6538067244583!2d90.37092511435942!3d23.79533919297639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0cce3251ab1%3A0x7a2aa979862a9643!2sJSoft!5e0!3m2!1sen!2sbd!4v1516771096779"></iframe>
                              </div>
                          </div>
                          <!-- Office Map Tab -->
                      </div>
                      <!-- Choose Area Tab content -->
                  </div>
              </div>
              <!-- Choose Area Content End -->
          </div>
      </div>
  </section>
  <!--== Choose Car Area End ==-->

  

  <!--== Footer Area Start ==-->
  <section id="footer-area">
      <!-- Footer Widget Start -->
      <div class="footer-widget-area">
          <div class="container">
              <div class="row">
                 <!-- Single Footer Widget Start -->
                  <div class="col-lg-4 col-md-6">
                      <div class="single-footer-widget">
                          <h2>Recent Posts</h2>
                          <div class="widget-body">
                              <ul class="recent-post">
                                  <li>
                                      <a href="#">
                                         Hello Bangladesh! 
                                         
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                        Lorem ipsum dolor sit amet
                                         
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                         Hello Bangladesh! 
                                        
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          consectetur adipisicing elit?
                                        
                                     </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Footer Widget End -->

                  <!-- Single Footer Widget Start -->
                  <div class="col-lg-4 col-md-6">
                      <div class="single-footer-widget">
                          <h2>Recent Posts</h2>
                          <div class="widget-body">
                              <ul class="recent-post">
                                  <li>
                                      <a href="#">
                                         Hello Bangladesh! 
                                         
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                        Lorem ipsum dolor sit amet
                                         
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                         Hello Bangladesh! 
                                        
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          consectetur adipisicing elit?
                                        
                                     </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Footer Widget End -->

                 <!-- Single Footer Widget Start -->
                  <div class="col-lg-4 col-md-6">
                      <div class="single-footer-widget">
                          <h2>Recent Posts</h2>
                          <div class="widget-body">
                              <ul class="recent-post">
                                  <li>
                                      <a href="#">
                                         Hello Bangladesh! 
                                         
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                        Lorem ipsum dolor sit amet
                                         
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                         Hello Bangladesh! 
                                        
                                     </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          consectetur adipisicing elit?
                                        
                                     </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Footer Widget End -->
              </div>
          </div>
      </div>
      <!-- Footer Widget End -->

      
  </section>
  <!--== Footer Area End ==-->
</div>